# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Driver Selenium
.driver/

# Scrapy
.scrapy/

# IDE
.vscode/

*.xml
*.html

*.json

*.pyc
*.bak

*.txt
*.pdf
Objective.md
nul
input/lista_siti.txt
output/force_directed_graph.html
